.admin-teachers-table__title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--dark-blue);
  font-size: 26px;
}

.admin-teachers__table {
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid var(--lighter-grey);
  border-collapse: collapse;
}

.admin-teachers-table__head-cell {
  padding: 10px 15px;
  font-weight: 700;
  text-align: left;
  border: none;
  background-color: var(--light-grey);
  border: 1px solid var(--lighter-grey);
}

.admin-teachers-column-1 {
  width: 70px;
}

.admin-teachers-column-2 {
  width: 250px;
}

.admin-teachers-column-3 {
  width: 160px;
}