#app-main {
  padding: 40px 0;
}

.profile__container {
  position: relative;
  width: 100%;
  display: grid;
  margin: 0 auto;
  margin-bottom: 30px;
  grid-template-columns: 15% 35% 15% 35%;
  grid-template-rows: repeat(5, 1fr);
  grid-template-areas:
    "surname-label surname username-label username"
    "name-label name email-label email"
    "lastname-label lastname birthday-label birthday"
    ". . . ."
    "btn . . .";
  row-gap: 10px;
  column-gap: 20px;
  align-items: center;
}

.profile__title {
  margin: 0;
  margin-bottom: 50px;
  font-size: 40px;
  font-weight: 700;
  color: var(--darker-blue);
}

.profile__surname-label {
  grid-area: surname-label;
}

.profile__surname {
  grid-area: surname;
}

.profile__name-label {
  grid-area: name-label;
}

.profile__name {
  grid-area: name;
}

.profile__lastname-label {
  grid-area: lastname-label;
}

.profile__lastname {
  grid-area: lastname;
}

.profile__username-label {
  grid-area: username-label;
}

.profile__username {
  grid-area: username;
}

.profile__birthday-label {
  grid-area: birthday-label;
}

.profile__birthday {
  grid-area: birthday;
}

.profile__email-label {
  grid-area: email-label;
}

.profile__email {
  grid-area: email;
}

.profile__exit-button {
  grid-area: btn;
  padding: 0;
  width: 80px;
  height: 100%;
}

.profile__exit-button-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.profile__edit-btn {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 0;
  width: 13px;
  height: 13px;
}

.profile__edit-btn svg {
  width: 100%;
  height: 100%;
}