p {
  margin: 0;
  margin-bottom: 5px;
}

.institute__container {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  border-radius: 10px;
  flex-direction: column;
}

.cathedra__container {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.course__container {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  border-radius: 10px;
}

.group__container {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--black);
  border-radius: 10px;
}

