.users-view__container {
  display: flex;
  padding-top: 40px;
  padding-bottom: 40px;
  flex-direction: column;
  gap: 10px;
}

.users-view__title {
  margin: 0;
  margin-bottom: 15px;
  font-size: 40px;
  font-weight: 700;
  color: var(--darker-blue);
}

.users-view__label {
  font-size: 24px;
  font-weight: 700;
  color: var(--darker-grey);
}

.users-view__label select {
  width: 360px;
  height: 35px;
  padding: 5px;
  margin-bottom: 30px;
  border-radius: 4px;
  font-size: 14px;
  border: 2px solid var(--lighter-grey);
  color: var(--dark-grey);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.users-view__label select:hover {
  background-color: var(--light-grey);
  border: 2px solid var(--grey);
}

.users-view__label select:focus {
  outline: none;
  background-color: var(--white);
  border: 2px solid var(--black);
}

.users-view__label select:active {
  background-color: var(--white);
  border: 2px solid var(--black);
}