.users__students-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.users__students-select-container {
  display: flex;
  margin-bottom: 30px;
  flex-direction: column;
  gap: 10px;
}

.students__label {
  font-size: 20px;
  font-weight: 700;
  color: var(--darker-grey);
}

.students__label select {
  width: 360px;
  height: 30px;
  padding: 5px;
  border-radius: 4px;
  font-size: 14px;
  border: 2px solid var(--lighter-grey);
  color: var(--dark-grey);
  transition: border-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.students__label select:hover {
  background-color: var(--light-grey);
  border: 2px solid var(--grey);
}

.students__label select:focus {
  outline: none;
  background-color: var(--white);
  border: 2px solid var(--black);
}

.students__label select:active {
  background-color: var(--white);
  border: 2px solid var(--black);
}