#ikar-app-register {
  padding-top: 10px;
  padding-bottom: 30px;
}

.reg-form__title {
  display: block;
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  color: var(--darker-blue);
  cursor: text;
}

.register-form {
  width: 450px;
  display: grid;
  margin: 0 auto;
  margin-bottom: 30px;
  grid-template-columns: 200px 250px;
  grid-template-rows: 35px 35px 35px 35px 35px 35px 35px 35px 70px;
  grid-template-areas:
    "label-surname surname"
    "label-name name"
    "label-lastname lastname"
    "label-birthday birthday"
    "label-email email"
    "label-login login"
    "label-pass pass"
    "label-passconf passconf"
    "check check";
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
}

.reg-form__surname-label {
  grid-area: label-surname;
}

.reg-form__surname-input {
  grid-area: surname;
}

.reg-form__name-label {
  grid-area: label-name;
}

.reg-form__name-input {
  grid-area: name;
}

.reg-form__lastname-label {
  grid-area: label-lastname;
}

.reg-form__lastname-input {
  grid-area: lastname;
}

.reg-form__birthday-label {
  grid-area: label-birthday;
}

.reg-form__birthday-input {
  grid-area: birthday;
}

.reg-form__email-label {
  grid-area: label-email;
}

.reg-form__email-input {
  grid-area: email;
}

.reg-form__login-label {
  grid-area: label-login;
}

.reg-form__login-input {
  grid-area: login;
}

.reg-form__password-label {
  grid-area: label-pass;
}

.reg-form__password-input {
  grid-area: pass;
}

.reg-form__passwordconf-label {
  grid-area: label-passconf;
}

.reg-form__passwordconf-input {
  grid-area: passconf;
}

.reg-form__btn {
  min-width: 170px;
  height: 35px;
  margin: 0 auto;
  border-radius: 4px;
  border: 2px solid var(--lighter-blue);
  background-color: var(--light-blue);
  color: var(--white);
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.reg-form__btn:hover {
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
}

.reg-form__btn:focus {
  border-color: var(--dark-blue);
  background-color: var(--lighter-blue);
}

.reg-form__btn:active {
  border-color: var(--lighter-blue);
  background-color: var(--light-blue);
}

.reg-form__confirm-check {
  cursor: pointer;
  margin-right: 3px;
}

.reg-form__confirm-label {
  cursor: pointer;
  text-align: center;
}

.reg-form__confirm-container {
  grid-area: check;
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
