#ikar-app-register {
  padding-top: 10px;
  padding-bottom: 30px;
}

.register-form {
  width: 450px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 30px;
  row-gap: 30px;
  column-gap: 20px;
  align-items: center;
}

.register__status-inputs-container {
  display: flex;
  width: 250px;
  flex-direction: column;
  gap: 6px;
  border: 2px solid var(--grey);
  border-radius: 10px;
}

.register__status-inputs-container legend {
  padding-inline-start: 5px;
  padding-inline-end: 5px;
}

.status-input__container {
  display: flex;
  margin-left: 45px;
}

.register-form__btn {
  min-width: 170px;
  height: 35px;
  margin: 0 auto;
  border-radius: 4px;
  border: 2px solid var(--lighter-blue);
  background-color: var(--light-blue);
  color: var(--white);
  transition: border-color 0.2s ease-in-out, background-color 0.2s ease-in-out;
}

.register-form__btn:hover {
  border-color: var(--dark-blue);
  background-color: var(--dark-blue);
}

.register-form__btn:focus {
  border-color: var(--dark-blue);
  background-color: var(--lighter-blue);
}

.register-form__btn:active {
  border-color: var(--lighter-blue);
  background-color: var(--light-blue);
}

.register__agreement-container {
  position: relative;
  width: 250px;
  margin-top: -20px;
}

.agreement__input-container {
  text-align: center;
}

.agreement__input-container label {
  font-size: 14px;
}

.agreement__error {
  position: absolute;
  font-size: 10px;
  color: var(--red);
  left: 70px;
}
