#app-header {
  width: 100%;
  background-color: var(--light-grey);
}

.header__container {
  width: 100%;
}

.header__list {
  display: flex;
  justify-content:space-around;
  align-items: center;
  gap: 0;
}

