.auth-form {
  padding-top: 80px;
  padding-bottom: 80px;
}

.form__title {
  width: fit-content;
  margin: 0 auto;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 50px;
  color: var(--darker-blue);
}

.form__switch {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.form__switch-button {
  background-color: transparent;
  border: none;
  color: var(--black);
  text-decoration: underline;
}

.form__switch-button:hover {
  background-color: var(--lighter-grey);
}

.form__switch-button:focus {
  background-color: var(--darker-blue);
  color: var(--white);
}
