.teachers-table__title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--dark-blue);
  font-size: 26px;
}

.teachers-table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}

.teachers-table__head-cell {
  padding: 10px 15px;
  font-weight: 700;
  text-align: left;
  border: none;
  background-color: var(--lighter-grey);
  border-left: 1px solid var(--light-grey);
  border-right: 1px solid var(--light-grey);
}

.teachers-table__head-cell:first-child {
  border-left: none;
}

.teachers-table__head-cell:last-child {
  border-right: none;
}

.teachers-column-1 {
  width: var(--column-1-width);
}

.teachers-column-2 {
  width: var(--column-2-width);
}
