.admin-students-table__title {
  margin: 0;
  margin-bottom: 20px;
  color: var(--dark-blue);
  font-size: 26px;
}

.admin-students__table {
  width: 100%;
  margin-bottom: 40px;
  border: 1px solid var(--lighter-grey);
  border-collapse: collapse;
}

.admin-students-table__head-cell {
  padding: 10px 15px;
  font-weight: 700;
  text-align: left;
  border: none;
  background-color: var(--light-grey);
  border: 1px solid var(--lighter-grey);
}

.admin-students-column-1 {
  width: 125px;
}

.admin-students-column-2 {
  width: 400px;
}

.admin__empty-users-list {
  margin: 0;
  text-align: center;
}